#ifndef ##Header##
#define ##Header##

#include "include/module.h"

##Includes##
##Defines##

class ##ClassName## : public Module
{
public:
    class ISubscriber
    {
    public:
##Functions##
    };
public:
    ##ClassName##(ISubscriber* subscriber);
    virtual ~##ClassName##();
private:
    template<class TMessage, class THandler> friend class DeamonMessage;
protected:
##ContentDeclare##
private:
    ISubscriber* m_subscriber;
};

#endif/*##Header##*/