#ifndef ##Header##
#define ##Header##

#include "include/module.h"

##Includes##

class ##ClassName## : public Module
{
public:
	##ClassName##();
	virtual ~##ClassName##();
private:
	##FuncDeclare##
};

#endif/*##Header##*/