#include "##Header##"
##Includes##

##ClassName##::##ClassName##(##Args##)
##ArgsMember##
{
##AddMessages##
}

##ClassName##::~##ClassName##()
{
}

##FunctionsStub##
##FunctionsProxy##
##ContentDeclareStub##
##ContentDeclareProxy##