#include "##Header##"

##Includes##

##ClassName##::##ClassName##(##App##)
: Module(##Defines##)##AppMember##{
##AddMessages##
}

##ClassName##::~##ClassName##()
{
}

##Functions##

##ContentDeclare##