#ifndef ##Header##
#define ##Header##

#include "include/module.h"

##Includes##
##Defines##

class ##ClassName## ##: public Module##
{
public:
    ##ClassName##(##Args##);
    virtual ~##ClassName##();
private:
    template<class TMessage, class THandler> friend class DeamonMessage;
public:
##FunctionsStub####FunctionsProxy##
protected:
##ContentDeclareStub####ContentDeclareProxy##
private:
    ##ArgsMember##
};

#endif/*##Header##*/